[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
notebook = "*"
pdbpp = "*"

[packages]
esptool = "*"
doc8 = "*"
urequests = "*"
requests = "*"
ampy = "*"
pandas = "*"
matplotlib = "*"
flask = "*"

[requires]
python_version = "3.6"
