<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coin detection results</title>
    <link rel=stylesheet type=text/css href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js.js"></script>
  </head>
  <body>
    <h1>Coin detection results</h1>
    <div class="images">
      <img id="curve" src="/curve" alt="Coin curve" />
      <img id="coin" src="/static/unknowneuro.svg" alt="Coin" />
    </div>
  </body>
</html>
